target: all
auth_enabled: false
server:
  http_listen_port: 3100
  grpc_listen_port: 9095

common:
  instance_addr: 127.0.0.1
  path_prefix: /tmp/loki
  storage:
    filesystem:
      chunks_directory: /tmp/loki/chunks
      rules_directory: /tmp/loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

memberlist:
  join_members: []

schema_config:
  configs:
    - from: 2018-04-15
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: loki_index_
        period: 24h

storage_config:
  filesystem:
    directory: /data/chunks

  tsdb_shipper:
    active_index_directory: /data/tsdb/index
    cache_location: /data/tsdb/cache

limits_config:
  allow_structured_metadata: true

analytics:
  reporting_enabled: false
