name: pulse
services:
  init:
    image: alpine:latest
    volumes:
      - loki-data:/data
    command: chown -R 10001:10001 /data

  loki:
    image: grafana/loki:main-71602eb
    command:
      - -config.file
      - /mnt/loki-config.yaml
    volumes:
      - ./config/loki.yaml:/mnt/loki-config.yaml
      - loki-data:/data
    ports:
      - 3100:3100
    healthcheck:
      test: ["CMD", "wget", "-O-", "--no-verbose", "http://loki:3100/ready"]
      interval: 5s
      timeout: 5s
      retries: 10
    depends_on:
      init:
        condition: service_completed_successfully

  otelcol:
    image: ghcr.io/machanirobotics/pulse/otelcol:latest
    deploy:
      resources:
        limits:
          memory: 200M
    restart: unless-stopped
    command: ["--config=/etc/otelcol/config.yaml"]
    volumes:
      - ./config/otel-collector.yaml:/etc/otelcol/config.yaml
    ports:
      - 4317:4317
      - 4318:4318
    healthcheck:
      test: ["CMD", "/usr/bin/curl", "-f", "http://otelcol:13133"]
      interval: 2s
      timeout: 5s
      retries: 10
    depends_on:
      loki:
        condition: service_healthy
      tempo:
        condition: service_healthy
      prometheus:
        condition: service_healthy

  tempo:
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./config/tempo.yaml:/etc/tempo.yaml
      - tempo-data:/var/tempo
    ports:
      - 3200:3200
      - 3201:3201
    healthcheck:
      test: ["CMD", "wget", "-O-", "--no-verbose", "http://tempo:3201/ready"]
      interval: 10s
      timeout: 5s
      retries: 5

  prometheus:
    image: prom/prometheus:latest
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
    volumes:
      - ./config/prometheus.yaml:/etc/prometheus.yaml
    ports:
      - "9090:9090"
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-O-",
          "--no-verbose",
          "http://localhost:9090/-/healthy",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  grafana:
    image: grafana/grafana:10.4.2
    volumes:
      - ./config/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    ports:
      - "3000:3000"
    healthcheck:
      test:
        ["CMD", "wget", "-O-", "--no-verbose", "http://grafana:3000/api/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    depends_on:
      otelcol:
        condition: service_healthy

volumes:
  loki-data:
  tempo-data:
