receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:

exporters:
  otlphttp/loki:
    endpoint: http://loki:3100/otlp

  otlp/tempo:
    endpoint: http://tempo:3200
    tls:
      insecure: true

  prometheus:
    endpoint: 0.0.0.0:13123
    metric_expiration: 1s

extensions:
  health_check:

service:
  extensions:
    - health_check

  pipelines:
    logs:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - otlphttp/loki

    metrics:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - prometheus

    traces:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - otlp/tempo
